@font-face
  font-family: 'music-icon'
  src: url('../fonts/music-icon.eot?2qevqt')
  src: url('../fonts/music-icon.eot?2qevqt#iefix') format('embedded-opentype'),
          url('../fonts/music-icon.ttf?2qevqt') format('truetype'),
          url('../fonts/music-icon.woff?2qevqt') format('woff'),
          url('../fonts/music-icon.svg?2qevqt#music-icon') format('svg')
  font-weight: normal
  font-style: normal

[class^="icon-"], [class*=" icon-"]
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'music-icon' !important
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

// 首页
.icon-index:before
  content: "\e60b"
// 需求清单
.icon-trolley:before
  content: "\e635"
// 我的
.icon-my:before
  content: "\e60a"
// 分享
.icon-fen-xiang:before
  content: "\e606"
// 搜索
.icon-sho-sho:before
  content: "\e628"



// 待收货
.icon-dai-sho-huo:before
  content: "\e677"
// 待付款
.icon-dai-fu-kuai:before
  content: "\e736"
// 满爱心
.icon-man-ai-xin:before
  content: "\e60d"
// 空爱心
.icon-kong-ai-xin:before
  content: "\e609"
// 客服
.icon-ke-hu:before
  content: "\e64a"
// 设置
.icon-she-zhi:before
  content: "\e649"
// 商店
.icon-shang-dian:before
  content: "\e604"
// 待收货
.icon-dai-sho-huo:before
  content: "\e603"
// 邦邦币
.icon-bbb:before
  content: "\e612"
// 上箭头
.icon-shang-jian-to:before
  content: "\e626"
// 下箭头
.icon-xia-jian-to:before
  content: "\e624"
// 我的资料
.icon-wo-de-zhi-liao:before
  content: "\e658"
// 医用产品(听器)
.icon-ting-qi:before
  content: "\e631"
// 药瓶
.icon-yao-ping:before
  content: "\e620"
// 邮箱
.icon-yo-xiang:before
  content: "\e608"
// 收藏（我的）
.icon-sho-chang-w-d:before
  content: "\e602"
// 未选中
.icon-wei-xiang-zhong:before
  content: "\e607"
// 选中
.icon-xiang-zhong:before
  content: "\e63b"
// 图片
.icon-tu-pian:before
  content: "\e6ec"
// 返回顶部
.icon-fan-huen-ding-bu:before
  content: "\e616"
// 家庭成员
.icon-jia-ting-chneg-yuan:before
  content: "\e623"
// 评价
.icon-ping-jia-1:before
  content: "\e673"
// 小购物车
.icon-xiao-go-wu-che:before
  content: "\e601"
// 扫码
.icon-s-ma:before
  content: "\e600"
// 左箭头
.icon-z-j-t:before
  content: "\e63f"
// 右箭头
.icon-y-j-t:before
  content: "\e645"
// 删除垃圾桶
.icon-shang-chu:before
  content: "\e61f"
// 删除 x
.icon-x-s-c:before
  content: "\e644"
// 优惠券
.icon-y-h-q:before
  content: "\e65a"
// 双箭头
.icon-shuang-j-t:before
  content: "\e605"
// 定位
.icon-ding-wei:before
  content: "\e633"
// 上三角
.icon-s-san-jiao:before
  content: "\e643"
// 下三角
.icon-x-san-jiao:before
  content: "\e642"
// 五角星
.icon-w-j-x:before
  content: "\e60c"