// 文件修改了ui框架样式
// 弹出提示
.mint-toast-text
    font-size: 28px !important  
    padding 15px 18px !important 
.is-placemiddle
    padding 0 !important            
// tab滚动条
.van-tabs__wrap
    padding-top 15px
    padding-bottom 15px !important
.van-tabs .van-tabs__nav .van-tabs__line
    background-color #FF6E01 !important
.van-tabs .van-tabs__nav .van-ellipsis
    font-size 22px !important    
.van-tabs .van-tab__pane 
    width: 100%
    -ms-flex-negative: 0
    flex-shrink: 0
    -webkit-box-sizing: border-box
    box-sizing: border-box
    margin-top 20px   
// 全局
.is-sactive
    opacity 0 !important
//MUI下拉刷新与区域滚动冲突的解决办法
.mui-plus-pullrefresh .mui-scroll 
    position: absolute !important  
    width: 100% !important  


//下拉刷新自定义
.i-active
    display: none    