// 颜色定义规范  背景
$color-background = #F2F2F2
$color-background-FB6334 = #FF6E01
$color-background-666 = #666
$color-background-e6e6e6 = #e6e6ee
$color-background-fff = #fff

//字体
$color-text-B0B0B0 = #B0B0B0;
$color-text-FB6334 = #FF6E01;
$color-text-868686 = #868686;
$color-text-020202 = #020202;
$color-text-ffffff = #ffffff;

//字体定义规范
$font-size-10 = 10px
$font-size-11 = 11px
$font-size-12 = 12px
$font-size-13 = 13px
$font-size-14 = 14px
$font-size-15 = 15px
$font-size-16 = 16px
$font-size-17 = 17px
$font-size-18 = 18px
$font-size-19 = 19px
$font-size-20 = 20px
$font-size-21 = 21px
$font-size-22 = 22px
$font-size-23 = 23px
$font-size-24 = 24px
$font-size-25 = 25px
$font-size-26 = 26px
$font-size-27 = 27px
$font-size-28 = 28px
$font-size-29 = 29px
$font-size-30 = 30px
$font-size-31 = 31px
$font-size-32 = 32px
$font-size-40 = 40px
$font-size-41 = 41px
$font-size-42 = 42px
$font-size-43 = 43px
$font-size-44 = 44px
$font-size-45 = 45px
$font-size-46 = 46px
$font-size-47 = 47px
$font-size-48 = 48px
$font-size-49 = 49px
$font-size-50 = 50px